" Turn on hilighted search results
"set hlsearch

" Turn on 'console' fenced code block syntax highlighting in vim/gvim Markdown.
let g:markdown_fenced_languages = ['console']

" You might have other language requirements:
"let g:markdown_fenced_languages = ['console', 'sh', 'c', 'php', 'test']

